*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: #0d2534;
}
.nav{
    background-color: #04131e;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-evenly;
  
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    width: 90px;
}
.logo i{
    font-size: 2rem;
}
.other {
    display: flex;
    align-items: center;
}
.options{
    display: flex;
    align-items: center;
     justify-content: space-evenly;
    /* width: 35%; */
    width: 50vw;
}
.options a {
    text-decoration: none;
    margin-right: 1rem;
    border-bottom: 2px solid transparent;
    font-weight: 700;
}
.options a i{
    font-size: 1.2rem;
}
.ops:hover{
    border-bottom: 3px solid #07cff6;
    box-sizing: border-box;
}
.search{
    border: none;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px solid red;
    border: 0.5rem;
    width: 25vw;
}

.search_input{
    border: none;
    height: 30px;
    border-radius: 0.4rem;
    padding-left: 1rem;
    font-size: 1rem;
    background-color: transparent;
    margin-right: 0.5rem;
    width: 25vw;
    border: 2px solid gray;
}
.search_icon{
    display: none;
    text-decoration: none;
    font-size: 1.4rem;
}
.hamburger{
    display: none;
}

@media (max-width : 829px) {
    .search_input {
        width: 200px;
    }
}
@media (max-width : 792px) {
     .search_input {
        width: 200px;
    }
    .options{
        justify-content: space-evenly;
    }
}
@media (max-width : 800px) {
   .search_input{
    display: none;
   }
   .search_icon{
        display: flex;
    }
   .options{
    width: 80vw;
   }
}
@media (max-width : 500px) {
   .nav{
        justify-content: space-between;
   }
    .options{
    display: none;
   }
   .search_icon{
        display: flex;
        width: 50%;
    }
   .hamburger{
    width: 30px;
    font-size: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 0.5rem;
   }
}
.main{
    display: flex;
    height: 100vh;
    width: 90vw;
    margin: 1rem 5vw 1rem;
    justify-content: space-evenly;
}
.sidebar{
    height: 100%;
    width: 20%;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 58%;
    background-color: red;
    border-radius: 1rem;
}

.aside{
    width: 20%;
    background-color: yellow;
    border-radius: 1rem;
}
@media (max-width : 1000px){

    .aside {
        display: none;
    }
    .sidebar{
        width: 28%;
    }
    .content{
        width: 68%;
    }
}
@media (max-width : 770px){
    .main{
        margin: 1rem 0 1rem ;
        width: 100vw;
    }
    .sidebar{
        display: none;
    }
    .content{
        width: 100%;
        border-radius: 0;
    }
}
.profile_card{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: #194162;
    height: 200px;
    width: 90%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.user_info h2{
    font-weight: 650;
    margin-bottom: 0.3rem;
}
.user_info p{
    font-size: 0.8rem;
}
.sidebar_ops{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 90%;
    background-color: #194162;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-top: 1rem; 
}
.sidebar_ops a{
    margin-bottom: 0.4rem;
    text-decoration: none;
    font-weight: 400;
}
.footer{
    height: 500px;
    background-color: rgb(245, 179, 179);
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    flex-wrap: wrap;
}
.foot_ops{
    width: 28%;
}
.foot_ops p{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.foot_ops ul{
    list-style-type: none;
}
.foot_ops ul li a {
    text-decoration: none;
    
}
.foot_ops ul li {
    margin-bottom: 0.5rem;
}
.foot_ops ul li:hover{
    text-decoration: underline;
}

/* Cheking satyam branch */